<!DOCTYPE html>
<html>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}


input[type=text], input[type=password], input[type=number], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=password]:focus , input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
</style>
<body>

<form action="/covid-form" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>The Republica Bank COVID-19 hospital discount form</h1>
    <hr>
    
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" required>

    <label for="name">Name:</label>
    <input type="text" class="form-control" placeholder="Enter Name" name="name">

    <label for="contact">Contact Number:</label>
    <input type="text" class="form-control" placeholder="Enter Contact" name="contact">
    
    <label for="annualIncome">Annual Income</label>
    <input type="number" class="form-control" name="income" required>

    <label for="hospital">Hospital Name: (Only Applicable for Maharashtra Citizens, since it is the most affected COVID-19 state)</label>
    <input type="text" class="form-control" placeholder="Enter Hospital Name" name="hospital">

    <div class="clearfix">
      <button type="button" class="cancelbtn">CANCEL</button>
      <button type="submit" class="signupbtn">SUBMIT</button>
    </div>
  </div>
</form>

</body>
</html>
